{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/toys/toy-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Tiny Tot Toys</h1>
  <img src="{% static 'images/truck.png' %}" alt="A toy truck" />
  <img src="{% static 'images/blocks.png' %}" alt="A castle made of blocks" />
  <img src="{% static 'images/plush.png' %}" alt="A plushie toy" />
  <img src="{% static 'images/dino.png' %}" alt="A dino toy" />
</section>

<section class="card-container">
  {% for toy in toy_list %}
  <div class="card" style="border-color: {{ toy.color }}">
    <div class="card-bg" style="background-color: {{ toy.color }}"></div>
    <a href="{% url 'toy-detail' toy.id %}">
      <div class="card-content">
        <h2>{{ toy.name }}</h2>
        <p>A {{ toy.color }} toy</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}