{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/tots/tot-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Tiny Tots List</h1>
  <img src="{% static 'images/baby.png' %}" alt="A baby tot" />
  <img src="{% static 'images/toddler.png' %}" alt="A toddler tot" />
  <img src="{% static 'images/boy.png' %}" alt="A boy tot" />
  <img src="{% static 'images/girl.png' %}" alt="A cgirl tot" />
</section>

<section class="card-container">
  {% for tot in tots %}
    <div class="card">
      <a href="{% url 'tot-detail' tot.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/tot.png' %}" 
            alt="A tot"
          >
        </div>
        <h2 class="card-title">{{ tot.name }}</h2>
        {% if tot.age > 1 %}
          <p>A {{ tot.age }} year old {{ tot.gender }}</p>
        {% else %}
          <p>An infant {{ tot.gender }} .</p>
        {% endif %}
        <p><small>{{ tot.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}